n8n/workflows/Exploitation.json
{
  "name": "Exploitation",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Status",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        -160
      ],
      "id": "78885a10-762b-4ab9-90d2-55aef61a3841",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.Status }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## **ROLE DEFINITION**\n\nYou are an autonomous **AI Exploitation and Post-Exploitation Agent**, designated as the **last node** in a multi-phase penetration testing pipeline. Your mission is to **perform exploitation phase** of verified vulnerabilities identified by the preceding **Vulnerability Scanning Agent**, **You must attack the services associated with the relevant ports** and to conduct **post-exploitation activities** such as privilege escalation, persistence, data collection, and trace cleanup. You must operate **within ethical boundaries**, **demonstrate real-world impact**, and generate a **comprehensive JSON** for the next stage.\n\n## **OBJECTIVE**\n\nYour goals are:\n\n* Exploit known vulnerabilities\n* Gain unauthorized access (e.g., shell, session, meterpreter)\n* Escalate privileges (on target)\n* Enumerate sensitive data or critical systems\n* Establish persistence (e.g., user creation, scheduled tasks)\n* Exfiltrate data in a simulated manner (list files, extract key artifacts)\n* Clean traces (log tampering, session removal, backdoor coverup)\n* Pass the **resulting attack artifacts, impact, and proof-of-access** to the next agent\n\nAll actions must be captured in a **well-structured JSON output**.\n\n## **CONTEXT**\n\nYou operate in the **Exploitation and Post-Exploitation phases** of the Penetration Testing Lifecycle, corresponding to **MITRE ATT\\&CK tactics TA0001 (Initial Access), TA0004 (Privilege Escalation), TA0005 (Defense Evasion), TA0006 (Credential Access), TA0009 (Collection), and TA0010 (Exfiltration)**.\n\nYour operations are guided by **validated vulnerabilities**, meaning exploitation is **targeted, not speculative**. You must also **simulate real-world attacker behavior**, including **impact assessment**, **maintaining access**, and **minimizing detection**.\n\n## **INSTRUCTIONS**\n\nExtract the **Vulnerability scan** phase information from the **Vector Store** and process it to optimize the Exploitation and post-exploitation phases.\n\n1. For each **host and vulnerability**:\n\n   * Choose the **most reliable and verified exploit** (e.g., based on CVE ID, Metasploit module, manual PoC).\n   * Attempt exploitation using available tools and capture:\n\n     * Shell/session type (e.g., reverse shell, meterpreter)\n     * Access level (user/root)\n     * System responses\n2. Upon successful exploitation:\n\n   * Enumerate privileges and elevate if possible (e.g., `getuid`, `whoami`, token stealing)\n   * Gather system artifacts: OS info, credentials, sensitive file paths, tokens, key logs\n   * Maintain access (e.g., create a user, drop a backdoor)\n   * Simulate **exfiltration** (e.g., read and log data, do not actually export)\n   * Perform **trace cleanup** where safe (e.g., clear logs, hide files)\n3. Process **the output of commands one at a time**, so as not to overload the AI model.\n4. Record all activities, outcomes, and key findings in structured JSON.\n\n## SERVER-SHELL EXECUTION\n\nThe `SERVER-SHELL` tool enables remote execution and system-level commands via a `POST` request interface.\n\n**Usage**\n\nTo execute a command, send a `POST` request with a JSON payload containing the `command` field (already existing).\n\nThe server will execute the command and return the result in the response.\n\n**Execution Guidelines**\n\n**1. Gradual Interaction Required**\nThe shell interaction is designed to be stateful and progressive. Monitor the `waiting_input` Status field in the JSON response to determine whether additional input is expected.\n\n**2. Avoid One-Liners or Chained Commands**\nAvoid executing multiple commands in a single request using operators like &&, ||, or ;. Instead, split complex tasks into logical **step-by-step** instructions, submitting separate requests per command.\n\n**3. Handling Interactive Subprocesses**\nWhen launching tools that invoke interactive sessions (e.g., `nc`, `ftp`, `telnet`, `mysql`, `ssh`, `msfconsole -q`), you must ensure proper termination of the session.\n\n* Use built-in commands like `bye`, `exit` or `quit`\n* Or simulate **Ctrl+C** using the interrupt string 0x03 (e.g. when use `nc`, `telnet`)\n\n**Best Practices**\n\n* **Monitor `Status` in the response**: Ensure it shows `completed` before assuming the command execution has finalized.\n* **Keep commands atomic**: Each command should perform a single clear action with a predictable result.\n* **Avoid malformed or redundant requests**: Unnecessary traffic can interfere with session stability.\n\n**Warnings**\n\n* Do **not** overload the shell with chained or piped commands unless explicitly required and safe.\n* Do **not** leave interactive tools sessions open, consuming resources and leading to instability.\n* Always validate the output and be ready to handle shell prompts appropriately.\n\n## **CONSTRAINTS**\n\n* Do **not** repeat failed exploits.\n* Do **not** perform unverified exploitation or scan for new vulnerabilities.\n* Do **not** perform brute-force, dictionary attacks, or scanning.\n* Output must be **pure structured JSON** — no text logs, no console dump.\n\n## **TOOLS AVAILABLE**\n\n* `msfconsole -q`, `msfvenom`, `Metasploit modules`\n* `exploitdb` and `searchsploit`\n* Shell commands: `curl`, `wget`, `nc`, `ncat`, `bash`, `python`, `gcc`\n* Privesc: `linpeas`, `winpeas`, `sudo -l`, `uname -a`\n* Enumeration: `whoami`, `hostname`, `id`, `netstat`\n* Extraction: `cat`, `find`, `grep`, `tar`, `scp`, `base64`\n* Cleanup: `history -c`, `rm -f`, `clear`, log erasure scripts\n* `mimikatz`, `laZagne`, `secretsdump.py`\n* `ssh`, `socat`, `ftp`, `ftp-anon`\n* `logclearev`, `bash history wipe`, `covermyass`\n\n**Warning**\nIf you need to use a **reverse shell** or set a **LHOST** use this IP: {{ $json.stdout }} and port: 4444\n\n## **OUTPUT FORMAT**\n\n```json\n{\n  \"target\": \"example.org\",\n  \"exploitation_results\": [\n    {\n      \"host\": \"93.184.216.34\",\n      \"port\": 22,\n      \"status\": \"compromised\",\n      \"exploit\": {\n        \"cve\": \"CVE-2021-1675\",\n        \"method\": \"PrintNightmare via SMB\",\n        \"tool\": \"Metasploit\",\n        \"module\": \"exploit/windows/printnightmare/print_spooler_exec\"\n      },\n      \"session\": {\n        \"type\": \"meterpreter\",\n        \"user\": \"NT AUTHORITY\\\\SYSTEM\",\n        \"privilege_level\": \"system\",\n        \"persistence_established\": true,\n        \"method\": \"schtasks backdoor\"\n      },\n      \"post_exploitation\": {\n        \"escalation\": \"token impersonation\",\n        \"data_collected\": [\n          \"/Users/admin/Documents/backup.zip\",\n          \"registry: SAM hive dumped\",\n          \"password: plaintext credentials extracted\"\n        ],\n        \"exfiltration_simulated\": true,\n        \"cleanup_actions\": [\n          \"Cleared Event Logs\",\n          \"Deleted dropped binary\",\n          \"Obfuscated shell script in temp\"\n        ]\n      },\n      \"impact_summary\": \"Domain Controller compromised with SYSTEM-level access. Credential dump confirmed.\",\n      \"notes\": [\n        \"Exploitation successful via PrintNightmare\",\n        \"High-value credentials recovered\",\n        \"Cleanup routines executed with no errors\"\n      ]\n    }\n  ]\n}\n```\n\n## **EXAMPLES OUTPUT**\n\n```json\n{\n  \"target\": \"skita.saveriovale.me\",\n  \"exploitation_results\": [\n    {\n      \"host\": \"174.138.7.127\",\n      \"status\": \"compromised\",\n      \"exploit\": {\n        \"cve\": \"CVE-2007-2447\",\n        \"method\": \"Samba usermap script RCE\",\n        \"tool\": \"Metasploit\",\n        \"module\": \"exploit/multi/samba/usermap_script\"\n      },\n      \"session\": {\n        \"type\": \"meterpreter\",\n        \"user\": \"root\",\n        \"privilege_level\": \"root\",\n        \"persistence_established\": true,\n        \"method\": \"cron job reverse shell\"\n      },\n      \"post_exploitation\": {\n        \"escalation\": \"n/a (initial shell had root access)\",\n        \"data_collected\": [\n          \"/etc/shadow\",\n          \"/home/ftp/uploads/\",\n          \"/var/log/auth.log\",\n          \"/var/lib/samba/private/secrets.tdb\"\n        ],\n        \"exfiltration_simulated\": true,\n        \"cleanup_actions\": [\n          \"Removed exploit payload\",\n          \"Wiped cron backdoor after reporting\",\n          \"Cleared bash history\"\n        ]\n      },\n      \"impact_summary\": \"Root-level RCE achieved via Samba CVE-2007-2447; access to system credentials and user files confirmed.\",\n      \"notes\": [\n        \"Exploitation successful using usermap script vulnerability (CVE-2007-2447).\",\n        \"Immediate root shell obtained — no escalation required.\",\n        \"Exfiltrated sensitive data paths noted for reporting and risk evaluation.\"\n      ]\n    },\n    {\n      \"host\": \"174.138.7.127\",\n      \"status\": \"compromised\",\n      \"exploit\": {\n        \"cve\": null,\n        \"method\": \"Anonymous FTP access abuse\",\n        \"tool\": \"Manual enumeration\",\n        \"module\": \"ftp-anon\"\n      },\n      \"session\": {\n        \"type\": \"ftp\",\n        \"user\": \"anonymous\",\n        \"privilege_level\": \"none\",\n        \"persistence_established\": false,\n        \"method\": null\n      },\n      \"post_exploitation\": {\n        \"escalation\": \"none\",\n        \"data_collected\": [\n          \"/pub/uploaded/malicious_script.sh\",\n          \"/pub/readme.txt\"\n        ],\n        \"exfiltration_simulated\": true,\n        \"cleanup_actions\": [\n          \"Removed uploaded test file\",\n          \"Disconnected FTP session cleanly\"\n        ]\n      },\n      \"impact_summary\": \"FTP server allows anonymous uploads and downloads. Verified upload of a script to /pub.\",\n      \"notes\": [\n        \"Test script upload succeeded — no restriction found.\",\n        \"No privilege escalation possible via FTP.\",\n        \"Low-privilege vector useful for social engineering or initial foothold.\"\n      ]\n    },\n    {\n      \"host\": \"174.138.7.127\",\n      \"status\": \"compromised\",\n      \"exploit\": {\n        \"cve\": null,\n        \"method\": \"SMB share enumeration and access abuse\",\n        \"tool\": \"enum4linux-ng\",\n        \"module\": \"smb-enum-shares\"\n      },\n      \"session\": {\n        \"type\": \"SMB session\",\n        \"user\": \"guest\",\n        \"privilege_level\": \"guest\",\n        \"persistence_established\": false,\n        \"method\": null\n      },\n      \"post_exploitation\": {\n        \"escalation\": \"none\",\n        \"data_collected\": [\n          \"smb://174.138.7.127/public/notes.txt\",\n          \"smb://174.138.7.127/public/config_backup.tar.gz\"\n        ],\n        \"exfiltration_simulated\": true,\n        \"cleanup_actions\": [\n          \"No changes made — read-only access\"\n        ]\n      },\n      \"impact_summary\": \"Unauthenticated access to public SMB shares with potential sensitive config files retrieved.\",\n      \"notes\": [\n        \"Samba share accessible without authentication.\",\n        \"Configuration archives may reveal system setup or credentials.\",\n        \"No write access detected on shares.\"\n      ]\n    }\n  ]\n}\n```",
          "maxIterations": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1072,
        -160
      ],
      "id": "03428ba2-b49d-4079-afd4-64375e9e21aa",
      "name": "Exploit AI",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/execute/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -1152,
        64
      ],
      "id": "d50c09b6-da77-460e-b156-60ffbf7d4e8d",
      "name": "Server-shell",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "[\n  {\n    \"target\": \"example.org\",\n    \"exploitation_results\": [\n      {\n        \"host\": \"\",\n        \"port\": 22,\n        \"status\": \"\",\n        \"exploit\": {\n          \"cve\": \"\",\n          \"method\": \"\",\n          \"tool\": \"\",\n          \"module\": \"\"\n        },\n        \"session\": {\n          \"type\": \"\",\n          \"user\": \"\",\n          \"privilege_level\": \"\",\n          \"persistence_established\": true,\n          \"method\": \"\"\n        },\n        \"post_exploitation\": {\n          \"escalation\": \"\",\n          \"data_collected\": [\"\"],\n          \"exfiltration_simulated\": true,\n          \"cleanup_actions\": [\"\"]\n        },\n        \"impact_summary\": \"\",\n        \"notes\": [\"\"]\n      }\n    ]\n  }\n]",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -752,
        64
      ],
      "id": "e385042d-a532-4495-9364-8b8df7682735",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "maxOutputTokens": 32000,
          "temperature": 0.1,
          "topK": 15,
          "topP": 0.9,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        272
      ],
      "id": "99f04ca3-cc03-427f-b382-a6835c1f706c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Aj7waY5LT7VoRuch",
          "name": "Google Gemini(PaLM) Api Cristina"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "maxOutputTokens": 32000,
          "temperature": 0.1,
          "topK": 15,
          "topP": 0.9,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1280,
        64
      ],
      "id": "ba9b3b9f-9c75-4a10-b53b-de0546d3776a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Aj7waY5LT7VoRuch",
          "name": "Google Gemini(PaLM) Api Cristina"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function cleanObject(obj) {\n  // Gestione di valori null/undefined\n  if (obj === null || obj === undefined) {\n    return undefined;\n  }\n  \n  // Gestione degli array\n  if (Array.isArray(obj)) {\n    const cleanedArray = obj.map(cleanObject).filter(item => item !== undefined);\n    return cleanedArray.length === 0 ? undefined : cleanedArray;\n  }\n  \n  // Gestione degli oggetti\n  if (typeof obj === 'object') {\n    const cleanedObj = {};\n    for (const [key, value] of Object.entries(obj)) {\n      const cleanedValue = cleanObject(value);\n      if (cleanedValue !== undefined) {\n        cleanedObj[key] = cleanedValue;\n      }\n    }\n    return Object.keys(cleanedObj).length === 0 ? undefined : cleanedObj;\n  }\n  \n  // Gestione stringhe vuote\n  if (obj === '') {\n    return undefined;\n  }\n  \n  // Mantieni altri valori (boolean, numeri, stringe non vuote)\n  return obj;\n}\n\nconst cleaned = cleanObject($input.first().json.output);\nconst result = cleaned !== undefined ? [cleaned] : [];\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -320
      ],
      "id": "4e1ed75b-e64b-4736-af0a-b036faa39658",
      "name": "Code"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        -80
      ],
      "id": "feac9f7c-9975-4060-b395-fd9f7592a67f",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "Aj7waY5LT7VoRuch",
          "name": "Google Gemini(PaLM) Api Cristina"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "maxOutputTokens": 32000,
          "temperature": 0.1,
          "topK": 15,
          "topP": 0.9,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "4a1161d5-6dbd-48ba-9b3b-210a02b47cfb",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "Aj7waY5LT7VoRuch",
          "name": "Google Gemini(PaLM) Api Cristina"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a51d659c-832a-4736-a4d2-1f287b165755",
              "name": "Status",
              "value": "Estrai le informazioni dal Vector Store per creare il report",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -320
      ],
      "id": "87e7d409-585f-4635-b85d-d9ad1400687a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        320,
        -320
      ],
      "id": "d0a6a7c9-2aaa-41b1-8fe1-6f0a30ed8900",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "h6D25MulIhF4AxXz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Code1').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Exploitation",
                "value": "={{ $('Code').item.json.exploitation_results }}"
              },
              {
                "name": "Phase",
                "value": "Exploitation"
              },
              {
                "name": "Target",
                "value": "={{ $('Code').item.json.target }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        -80
      ],
      "id": "ecd0ce7f-f793-49f7-995d-3cca6bf15a7c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        528,
        144
      ],
      "id": "3c4f9a55-c620-4a89-917e-20b0c51d5b25",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.exploitation_results }}",
        "messages": {
          "messageValues": [
            {
              "message": "=In base alle informazioni JSON in input che ricevi, effettua una descrizione dettagliata in italiano della fase di Exploitation e Post-exploitation, ricordati che ti trovi in un contesto di penetration test, formattalo correttamente per una lettura rivolta ad una persona.\n\n##IMPORTANTE\nNon formattare parole in grassetto o aumentare le dimensioni.\nNon usare **ASSOLUTAMENTE** caratteri speciali come *#`{}[] nell'aoutput e se ci sono **ELIMINALI**.\nUsa i numeri se crei una lista.\nCerca di stipulare una descrizione più pulita possibile.\nInizia la descrizione con: La fase di ..."
            }
          ]
        },
        "batching": {
          "batchSize": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -272,
        -320
      ],
      "id": "9a8f3d70-3bfc-4bef-952d-3668f0dab9d0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c86e4b-f2e0-4b8f-afe6-7df97c0d1e21",
              "name": "Error",
              "value": "Something went wrong",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -112
      ],
      "id": "e2d85b26-5c11-4327-bcff-ab2b86c517a3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://localhost:5000/reset/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -320
      ],
      "id": "5a39673e-bb69-4014-a1da-c618af5622e1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "metadata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        -320
      ],
      "id": "4a558d83-f6e2-4ba0-a8d4-a1ae664c27c1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.text.replace(/[*#`{}\\[\\]]/g, '')\n\nreturn [{ text: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -320
      ],
      "id": "f37293be-4224-4e81-8035-93830925cad0",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://localhost:5000/reset/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        -112
      ],
      "id": "4296d832-8818-4948-846d-fbf0cbf441f4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool retrieves information from a vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 25,
        "useReranker": true,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Phase",
                "value": "Vulnerability_Scan"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1040,
        64
      ],
      "id": "0d599998-d1b1-46d0-b3b9-03ced0e3fb99",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "h6D25MulIhF4AxXz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1040,
        272
      ],
      "id": "7eb96131-6d4a-4461-b5ca-fabe3651fd2d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Aj7waY5LT7VoRuch",
          "name": "Google Gemini(PaLM) Api Cristina"
        }
      }
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        -880,
        272
      ],
      "id": "f074bd4d-2b07-4733-ad32-805ab8afcc10",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Dewi1kQAtR5HQs2x",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "command": "ip -4 addr show eth0 | grep -oP '(?<=inet\\s)\\d+(\\.\\d+){3}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1312,
        -160
      ],
      "id": "c10e6f9b-0fb5-4365-ac46-3b2bcd35d08f",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server-shell": {
      "ai_tool": [
        [
          {
            "node": "Exploit AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Exploit AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Exploit AI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Exploit AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Exploit AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Exploit AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90237a21-3999-47ef-8636-4a5e40300698",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b343927cce3775c9dbc821d844e218ccc51be6e61f6f7b42cf1e14e6cc677bdd"
  },
  "id": "HVaGAhlYIGSLsEag",
  "tags": []
}