n8n/workflows/Vulnerability Scan.json
{
  "name": "Vulnerability Scan",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Status",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -64
      ],
      "id": "0b9d65f4-0e92-4fa0-9e3b-3561172500d3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "executeOnce": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Execute_Once', ``, 'boolean') }}",
        "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Command', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.executeCommandTool",
      "typeVersion": 1,
      "position": [
        -64,
        144
      ],
      "id": "c438cb8e-1076-404c-a83d-8da2c44b8fac",
      "name": "Execute Command",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Status }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## ROLE DEFINITION\n\nYou are the **Vulnerability Detection AI Agent**, the fourth agent in an automated penetration testing sequence. Your exclusive function is to **identify and analyze known vulnerabilities** in previously enumerated services, configurations, and software.\n\n## OBJECTIVE\n\nDetect and correlate:\n\n* Known **CVEs** (Common Vulnerabilities and Exposures)\n* **Weak configurations**\n* **Misconfigurations** or **exposed services**\n* **Unsupported or unpatched software versions**\n* Known service-specific **insecure defaults or logic flaws**\n\nThe goal is to provide actionable vulnerability metadata for use in the **Exploitation Phase**.\n\n## CONTEXT\n\nYou follow these AI agents in sequence:\n\n1. Reconnaissance Agent\n2. Network Scan Agent\n3. Enumeration Agent\n4. **YOU: Vulnerability Detection Agent**\n5. Exploitation Agent\n\nYou must operate **passively**, using only structured input data from the previous phase — you **must not initiate any probing, scanning, or exploitation**.\n\n## INSTRUCTIONS\n\n1. Extract the **Enumeration** phase information from the **Vector Store** and process it to optimize the vulnerability scan phase.\n2. For each host and service:\n\n   * Match service banners and versions to CVEs using public vulnerability databases.\n   * Flag misconfigurations or weak setups based on protocol behavior and known bad practices.\n   * Identify deprecated software or unmaintained services.\n3. Return a structured JSON with:\n\n   * CVE references\n   * Risk ratings (low, medium, high, critical)\n   * Detected insecure settings\n   * Metadata for later use by the Exploitation Agent\n\n## CONSTRAINTS\n\n* **Do not perform scanning**, fuzzing, exploitation, or any form of active probing.\n* **Do not process free-form text, binary input, or files**.\n* **Do not suggest or perform exploits**.\n* Output must be in **JSON format only** with no extra commentary or formatting.\n\n## AVAILABLE TOOLS *(Simulated Vulnerability Databases and Detection Models)*\n\nYou simulate logic from:\n\n* **NIST NVD CVE Database**: CVE lookups and severity scoring\n* **Exploit-DB Metadata**: Proof-of-concept references (not to be used directly)\n* **CISA Known Exploited Vulnerabilities Catalog**\n* **CIS Benchmarks** for weak configuration checks\n* **OpenVAS** (via JSON data matching CVEs)\n* **Nmap** (with NSE vulnerability scripts)\n* **Nikto** (for web vulnerability mapping)\n* **Internal Vulnerability Database**\n* **MITRE ATT\\&CK Reference**\n* **OWASP Top Ten Reference**\n* **Custom regex-based configuration analyzers**\n\n  * SMB: null sessions, guest access, unpatched versions\n  * SSH: outdated algorithms, pre-auth flaws\n  * RDP: weak encryption, NLA bypass\n  * HTTP: outdated CMS, exposed admin panels\n  * SNMP: public community strings, default MIBs\n  * FTP/SMTP: anonymous login, banner leakage, plain-text auth\n\n## OUTPUT FORMAT\n\n```json\n{\n  \"target\": \"example.org\",\n  \"vulnerable_scan\": {\n    \"detected_vulnerabilities\": [\n      {\n        \"service\": \"\",\n        \"port\": 2,\n        \"version\": \"\",\n        \"cve_ids\": [\"CVE-xxxx-xxxx\"],\n        \"severity\": \"\",\n        \"cvss_score\": 9.8,\n        \"vulnerability_type\": \"\",\n        \"exploitable\": true,\n        \"description\": \"\",\n        \"references\": [\n          \"https://...\",\n          \"https://...\"\n        ]\n      },\n      ...\n    ]\n  }\n}\n```\n\n## EXAMPLES OUTPUT\n\n```json\n{\n  \"target\": \"example.org\",\n  \"vulnerable_scan\": {\n    \"detected_vulnerabilities\": [\n      {\n        \"service\": \"ftp\",\n        \"port\": 21,\n        \"version\": \"vsftpd 3.0.3\",\n        \"cve_ids\": [\"CVE-2011-2523\"],\n        \"severity\": \"high\",\n        \"cvss_score\": 7.5,\n        \"vulnerability_type\": \"Backdoor command execution\",\n        \"exploitable\": true,\n        \"description\": \"vsftpd 2.3.4 (and potentially 3.x forks) was shipped with a malicious backdoor that allows attackers to gain shell access by using a crafted username.\",\n        \"references\": [\n          \"https://nvd.nist.gov/vuln/detail/CVE-2011-2523\",\n          \"https://www.exploit-db.com/exploits/49757\"\n        ]\n      },\n      {\n        \"service\": \"https\",\n        \"port\": 443,\n        \"version\": \"nginx 1.18.0\",\n        \"cve_ids\": [\"CVE-2021-23017\"],\n        \"severity\": \"critical\",\n        \"cvss_score\": 9.8,\n        \"vulnerability_type\": \"1-byte memory overwrite leading to RCE\",\n        \"exploitable\": true,\n        \"description\": \"Nginx before 1.21.0 has a 1-byte memory overwrite vulnerability in the resolver, potentially allowing remote code execution via crafted DNS responses.\",\n        \"references\": [\n          \"https://nvd.nist.gov/vuln/detail/CVE-2021-23017\",\n          \"https://unit42.paloaltonetworks.com/nginx-vulnerability/\"\n        ]\n      }\n    ]\n  }\n}\n```",
          "maxIterations": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        32,
        -64
      ],
      "id": "ecfc10bf-738f-4785-bfd0-a0069adce618",
      "name": "VulnScan AI",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function cleanObject(obj) {\n  // Gestione di valori null/undefined\n  if (obj === null || obj === undefined) {\n    return undefined;\n  }\n  \n  // Gestione degli array\n  if (Array.isArray(obj)) {\n    const cleanedArray = obj.map(cleanObject).filter(item => item !== undefined);\n    return cleanedArray.length === 0 ? undefined : cleanedArray;\n  }\n  \n  // Gestione degli oggetti\n  if (typeof obj === 'object') {\n    const cleanedObj = {};\n    for (const [key, value] of Object.entries(obj)) {\n      const cleanedValue = cleanObject(value);\n      if (cleanedValue !== undefined) {\n        cleanedObj[key] = cleanedValue;\n      }\n    }\n    return Object.keys(cleanedObj).length === 0 ? undefined : cleanedObj;\n  }\n  \n  // Gestione stringhe vuote\n  if (obj === '') {\n    return undefined;\n  }\n  \n  // Mantieni altri valori (boolean, numeri, stringe non vuote)\n  return obj;\n}\n\nconst cleaned = cleanObject($input.first().json.output);\nconst result = cleaned !== undefined ? [cleaned] : [];\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -224
      ],
      "id": "da658c66-f5fb-4d8d-b744-996955e353f6",
      "name": "Code"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "[\n  {\n    \"target\": \"example.org\",\n    \"vulnerable_scan\": {\n      \"detected_vulnerabilities\": [\n        {\n          \"service\": \"\",\n          \"port\": 2,\n          \"version\": \"\",\n          \"cve_ids\": [\"CVE-xxxx-xxxx\"],\n          \"severity\": \"\",\n          \"cvss_score\": 9.8,\n          \"vulnerability_type\": \"\",\n          \"exploitable\": true,\n          \"description\": \"\",\n          \"references\": [\n            \"https://...\",\n            \"https://...\"\n          ]\n        }\n      ]\n    }\n  }\n]",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        144
      ],
      "id": "cf8fe273-d9f8-4014-9393-d51a53fb8dba",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "maxOutputTokens": 32000,
          "temperature": 0.1,
          "topK": 15,
          "topP": 0.9,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        336
      ],
      "id": "09e7ad9a-a915-4489-8413-43d06cd85775",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "icvnyJUEHu27uadB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "maxOutputTokens": 32000,
          "temperature": 0.1,
          "topK": 15,
          "topP": 0.9,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        144
      ],
      "id": "5937a2f4-7d90-4b2d-afb9-95e4cce12b60",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "icvnyJUEHu27uadB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1392,
        16
      ],
      "id": "6895a844-3cf9-428c-8bc2-8e8f36bd04b7",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "icvnyJUEHu27uadB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "maxOutputTokens": 32000,
          "temperature": 0.1,
          "topK": 15,
          "topP": 0.9,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        16
      ],
      "id": "fa84b0b8-db79-40b3-9103-eeb60826b222",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "icvnyJUEHu27uadB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a51d659c-832a-4736-a4d2-1f287b165755",
              "name": "Status",
              "value": "Extract the information from the Vulnerability scan phase and perform the Exploitation and post-exploitation phases",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        -224
      ],
      "id": "80262d3a-894f-4373-b33f-3e28ed606474",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Code1').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Vulnerability_Scan",
                "value": "={{ $('Code').item.json.vulnerable_scan }}"
              },
              {
                "name": "Phase",
                "value": "Vulnerability_Scan"
              },
              {
                "name": "Target",
                "value": "={{ $('Code').item.json.target }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1504,
        16
      ],
      "id": "7a12eb20-0718-444d-ac79-38c3e1b374c1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.vulnerable_scan }}",
        "messages": {
          "messageValues": [
            {
              "message": "=In base alle informazioni JSON in input che ricevi, effettua una descrizione dettagliata in italiano della fase di Vulnerability Scan, ricordati che ti trovi in un contesto di penetration test, formattalo correttamente per una lettura rivolta ad una persona.\n\n##IMPORTANTE\nNon formattare parole in grassetto o aumentare le dimensioni.\nNon usare **ASSOLUTAMENTE** caratteri speciali come *#`{}[] nell'aoutput e se ci sono **ELIMINALI**.\nUsa i numeri se crei una lista.\nCerca di stipulare una descrizione più pulita possibile.\nInizia la descrizione con: La fase di ..."
            }
          ]
        },
        "batching": {
          "batchSize": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        800,
        -224
      ],
      "id": "a0034079-fbd3-48bd-96ec-2c650ffa4cf3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c86e4b-f2e0-4b8f-afe6-7df97c0d1e21",
              "name": "Error",
              "value": "Something went wrong",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        0
      ],
      "id": "3db7bdb1-346f-44aa-86a9-cea4a1b8b7c0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "metadata"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1792,
        -224
      ],
      "id": "02d12b7c-575a-4124-b744-c508cc4f6a45",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        336
      ],
      "id": "31f7df7c-6308-4a4c-9f42-fa71953aa7b3",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "icvnyJUEHu27uadB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        224,
        336
      ],
      "id": "c4d42a66-9c45-4b2c-8045-988be122ef33",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Dewi1kQAtR5HQs2x",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1600,
        240
      ],
      "id": "eaabce6d-d42e-4a05-95ec-ee64a33d64e8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1392,
        -224
      ],
      "id": "fb410147-edde-4a49-ac33-4658e7ac440d",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "h6D25MulIhF4AxXz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool retrieves information from a vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 20,
        "useReranker": true,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Phase",
                "value": "Enumeration"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        64,
        144
      ],
      "id": "2029f373-8c44-4e70-b11c-911a358709b4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "h6D25MulIhF4AxXz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.text.replace(/[*#`{}\\[\\]]/g, '')\n\nreturn [{ text: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -224
      ],
      "id": "846c56f4-ca37-4c14-82ce-13ea13590c69",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "VulnScan AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "ai_tool": [
        [
          {
            "node": "VulnScan AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "VulnScan AI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "VulnScan AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "VulnScan AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "VulnScan AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc7f31c7-95fd-43bc-89af-0b6b9f2240db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b343927cce3775c9dbc821d844e218ccc51be6e61f6f7b42cf1e14e6cc677bdd"
  },
  "id": "dKKssabGF0CiVXsV",
  "tags": []
}